h1.gemheader {
  margin:       0px 0 0.5em -38px ; 
  text-indent:               38px ; 
  height:       72px ;
  padding:      20px 0 14px 0px; 
  background:   url('/images/edamame.png') no-repeat 0px 23px ;
  }
